

*, *:after, *:before {
    --background: white;
    --first-color: #0057a4;
    --second-color: #ffdb01;
    --warning-color: rgba(255, 165, 0, 1);
    --doc-font: 8px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.warning {
    background-color: var(--warning-color);
}

body {
    background-color: var(--background);
    padding: 0.5rem;
}

.back1 {
    background-color: aqua;
}

.back2 {
    background-color: orange;
}

div.container-column {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

.no-visible {
    display: none;
}

.show-print{
    display: none;
}

.inline {
    display: inline-block;
}

.margen-alto-05 {
    margin-top: 0.5rem;
}

.margen-izq-1 {
    margin-left: 1rem;
}

.ancho-100 {
    width: 100%;
}

.ancho-50 {
    width: 50%;
}

.ancho-60 {
    width: 60%;
}

.margen-bajo-05 {
    margin-bottom: 0.5rem;
}

.margen-bajo-1 {
    margin-bottom: 1rem;
}

.centrar {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

label {
    display: inline-block;
}

div p.version {
    text-align: right;
    padding: 0.3rem 1rem;
    font-size: 0.7rem;
    color: gray;
}

.custom-button {
    border: none;
    border-radius: 4px;
	background-color: var(--first-color);
	color: var(--second-color);
	cursor: pointer;
	font-size: 1rem;
	margin: 0.3rem auto;
	padding: 0.3rem 0.6rem;
	text-align: center;
}

.custom-button:hover {
    background-color: var(--second-color);
    color: var(--first-color)
}

.disable {
    background-color: lightgray;
    color: black;
    cursor: not-allowed;
}

.disable:hover {
    background-color: lightgray;
    color: orangered;
}

input[type="file"] {
    display: none;
}

/*
div.loading-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
/*    backdrop-filter: blur(5px);
    /* background-color: hsla(210, 4%, 20%, 0.5); */
/* 
}

div.loading-frame div.loading {
	position: relative;
	background-color: var(--first-color);
    color: var(--second-color);
    text-align: center;
    max-width: 40%;
    margin : auto;
    top: 50%;
	padding: 2rem ;
    border-radius: 5px;
    transform: translate(-0%, -50%);
    -webkit-transform: translate(-0%, -50%);
}

div.loading p {
    margin: auto;
    font-weight: bold;
    font-size: larger;
}

/* ***** TABLE STYLES ***** */

strong {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--first-color);
}

thead tr th {
    padding: 0.1rem;
    border-bottom: 2px solid var(--first-color);
}

thead tr th.ordinal {
    width: 4rem;
}

thead tr th.isell {
    width: 20%;
}

table tbody#data-body tr.warning-row {
    background-color: orange !important;
}

table tbody#data-body tr td {
    border-bottom: 1px solid gray;
    min-width: 5rem;
    max-height: 1rem;
}

table tbody#data-body tr:nth-last-of-type(2n+0) {
    background-color: lightgray;
}

table tbody#data-body tr:hover {
    background-color: var(--second-color);
}

.cabecera {
    background-color: var(--first-color);
    color: var(--second-color);
}

table tbody#data-body tr.totales {
    font-weight: bolder;
}

/* ***** TABLE DOCUMENT HEADER STYLES  ***** */

body.page-a4 {
    width: 21cm;
    height: 29.7cm;
    border: 0.5px dotted black;
}

table tbody#transport-document-info tr td.title {
    border-right: 1px solid transparent;
}

table tbody#transport-document-info tr td.page-number {
    font-size: 6px;
    text-align: right;
    padding: 0 0.5rem;
    vertical-align: top;
}

table tbody#transport-document-info tr td h3 {
    text-align: right;
    padding: 0.5rem;
    font-size: large;
}

table tbody#transport-document-info tr td {
    font-size: var(--doc-font);
    padding: 0.2rem;
    border: 1px solid black;
}

table tbody#transport-document-info tr td.value {
    text-align: center;
    font-size:small;
}

table tbody#transport-document-info tr td p {
    /* font-size: small; */
}

table tbody#transport-document-info tr td p.note {
    font-size: var(--doc-font);
    text-align: justify;
}

table tbody#transport-document-info tr td.text-top-left {
    text-align: left;
    vertical-align: text-top;
}

.blank-space {
    height: 4rem;
}

.blank-space-big {
    height: 6rem;
}

/* ***** FOOTER TABLE STYLES ***** */

table tbody#footer-table tr td {
    font-size: var(--doc-font);
    padding: 0.2rem;
    border: 1px solid black;
}

div p.footer-page {
    font-size: var(--doc-font);
    font-style: italic;
    text-align: right;
}
/* ***** TABLE STYLES ENDS ***** */


/* ***** PRINTABLE STYLES ***** */

@media print {

    *, *:after, *:before {
        --background: transparent;
        --first-color: black;
        --second-color: black;
        --warning-color: rgba(255, 165, 0, 1);
        /* --doc-font: 8px; */
        padding: 0;
        margin: 0;
        font-size: 10px;
        /* box-sizing: border-box; */
    }
    body, html {
        /* background-color: transparent !important; */
        color: black !important;
    }

    .hide-print {
        display: none !important;
    }

    .show-print {
        display: block;
    }

    .cabecera {
        background-color: rgb(199, 199, 199);
        border-bottom: 1px solid black;
        /* color: black; */
    }

    table tbody#data-body tr td {
        background-color: transparent;
    }

    table.print-hide-borders {
        border-top: none;
        border-bottom: none;
    }

    /* table tbody#data-body tr td p.text-print-overflow-hidden {
        overflow: hidden;
        max-height: 1rem;
        display: block;
    } */

    p.version {
        print-color-adjust: exact;
        -webkit-print-color-adjust:exact;
        color: gray;
    }
}

/* ***** PRINTABLE STYLES ENDS ***** */

/*
.unstyle {
    all: unset;
}